@model Manga.ViewModels.ChuongHinhAnhModel

@{
    ViewBag.Title = "ChuongAnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/CSS/dangtruyen.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddChapter</title>
</head>
<body>
    @using (Html.BeginForm("AddChapter", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Chuong</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TenChuong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenChuong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenChuong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChuongSo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChuongSo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChuongSo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TruyenID, "TruyenID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TruyenID,
                    new SelectList(Model.truyen, "TruyenID", "Name"), "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TruyenID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.DisplayName("Hình cover")
                <div class="col-md-10">
                    <input type="file" multiple name="images" /> <br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
